.ItemListCardItem {
    width: 35vw;
    text-align: center;
    height: fit-content;
    padding: 10px;
    border-radius: 15px;
    color:ivory;
    border: 3px solid ivory;
    margin-bottom: 20px;
    font-size: 20px;
}

.ItemListCardItem:hover{
    width: 35vw;
    text-align: center;
    height: fit-content;
    padding: 10px;
    border-radius: 15px;
    color:ivory;
    border: 3px solid ivory;
    margin-bottom: 20px;
    font-size: 20px;
    background: rgba(227, 224, 166, 0.4);
}

.regData {
    font-size: 12px;
}